body {
  background: linear-gradient(-45deg, #543cff, #e281ff, #b7e2fa, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cardstyle{

  background-color: rgba(30,30,30,0.3);
  text-align-all: center;
  height: 100%;
  width: 100%;

}
mat-card-title{

   padding-top: 20px
}
mat-grid-list{

  margin: 0px 30px 0px 30px;
  padding: 0px 0px 0px 0px;
}
.tylestyle{

  margin-top: 40px;
  display: flex;


  height: 100vh;

}
